.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

.heading {
  position: relative;
  font-size: 2rem;
  padding: 3rem 0;
}
.heading::after {
  content: "";
  width: 30%;
  height: 1px;
  background-color: #e0ff1b;
  position: absolute;
  margin: 0 2rem;
  top: 50%;
}

.section {
  padding: 4rem 0;
}

.blur {
  transition: all 0.6s;
}

.blur--active {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.icon i {
  font-size: 4rem;
  color: #fff;
  transition: transform 0.3s;
  position: relative;
}
.icon i:hover {
  transform: scale(1.1);
}
.icon i::after {
  content: "";
  height: 0;
  transition: height 0.3s;
  width: 100%;
  position: absolute;
  bottom: -1rem;
  left: 0;
  background-color: #e0ff1b;
}
.icon i:hover::after {
  height: 3px;
}

p {
  font-size: 1.3rem;
}

nav .nav ul .navigation__item a {
  position: relative;
}
nav .nav ul .navigation__item a::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 75%;
  border-bottom: 1px solid #e0ff1b;
  left: 0;
  bottom: -0.5rem;
  transition: all 0.3s;
}
nav .nav ul .navigation__item a:hover::after {
  width: 100%;
  border-bottom: 2px solid #fff;
}

.phone {
  position: relative;
  width: 340px;
  margin: 2rem auto;
  height: 555px;
  border: 5px solid rgb(29, 164, 122);
  border-radius: 2rem;
  background-image: url(../assets/tamagotchi.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.phone::before {
  content: "";
  width: 317.5px;
  height: 531px;
  position: absolute;
  border: 8px solid #000;
  border-radius: 2rem;
  top: -1px;
  left: -2px;
  z-index: 0;
}
.phone::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 50%;
  transform: translateX(50%);
  width: 25%;
  height: 15px;
  background-color: #000;
  z-index: -1;
  border-radius: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  scroll-padding: 3.5rem;
}

body {
  background-color: #000;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

header .nav-desktop {
  display: none;
  width: 100vw;
  background-color: #000;
  position: fixed;
  z-index: 1000;
  top: 0;
  transition: all 0.3s;
}
header .nav-desktop ul {
  display: flex;
  justify-content: flex-end;
  gap: 6rem;
  align-items: center;
  height: 10rem;
  padding: 0 2rem;
}
header .nav-desktop ul li {
  list-style: none;
}
header .nav-desktop ul li a {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  transition: colors ease-in-out 0.3s;
}
header .nav-desktop ul li a:hover {
  color: #e0ff1b;
}
header .nav-mobile {
  top: 0;
  overflow: hidden;
}
header .hamburger {
  position: fixed;
  padding: 1rem;
  display: inline-block;
  cursor: pointer;
  background: none;
  border: 0;
  margin: 0;
  right: 1rem;
  top: 1rem;
  z-index: 100;
}
header .hamburger--active {
  transform: translatex(0px);
}
header .hamburger__box {
  width: 3.5rem;
  height: 2.5rem;
  display: inline-block;
  position: relative;
}
header .hamburger,
header .navigation {
  transition: transform 0.3s 0.1s ease-in-out;
}
header .hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: #e0ff1b;
  position: absolute;
  outline: 1px solid black;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;
}
header .hamburger__inner::before,
header .hamburger__inner::after {
  width: 100%;
  height: 3px;
  background-color: #e0ff1b;
  position: absolute;
  outline: 1px solid black;
  content: "";
  left: 0;
  transition: transform 0.2s 0.2s ease-in-out;
}
header .hamburger__inner::before {
  top: -10px;
}
header .hamburger__inner::after {
  top: 10px;
}
header .hamburger--active .hamburger__inner {
  background-color: transparent;
  outline: 1px transparent;
}
header .hamburger--active .hamburger__inner:before {
  transform: translateY(10px) rotate(45deg);
}
header .hamburger--active .hamburger__inner:after {
  transform: translateY(-10px) rotate(-45deg);
}
header .navigation {
  position: fixed;
  height: 100vh;
  width: 25rem;
  background-color: #2e2e2e;
  top: 0;
  left: 0;
  transform: translateX(-250px);
  z-index: 100;
}
header .navigation--active {
  transform: translateX(0px);
}
header .navigation__list {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 3rem;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
header .navigation__list .navigation__item {
  padding: 1rem;
}
header .navigation__list .navigation__item a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  transition: color 0.3s;
}
header .navigation__list .navigation__item a:hover {
  color: #e0ff1b;
}

main .landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}
main .landing__description {
  margin: 2rem 0;
}
main .landing__links {
  height: 5vh;
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-direction: column;
}
main .landing__links a .resumeBtn {
  position: relative;
  background-color: #000;
  font-size: 2rem;
  color: #fff;
  padding: 1rem 1.5rem;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}
main .landing__links a .resumeBtn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  left: 1rem;
  transition: all 0.3s;
  z-index: -2;
}
main .landing__links a .resumeBtn:hover::after {
  background-color: #fff;
  transform: translate(-1rem, -0.75rem);
}
main .landing__social {
  margin-left: 1rem;
  display: flex;
  gap: 1.5rem;
}
main .landing h1 {
  font-size: 1.5rem;
  color: #e0ff1b;
  font-weight: 300;
}
main .landing h2 {
  font-size: 2.5rem;
}
main .landing h2::after {
  content: ",";
  color: #e0ff1b;
}
main .landing h3 {
  font-size: 2.5rem;
}
main .landing h3::after {
  content: ".";
  color: #e0ff1b;
}
main .landing p {
  font-size: 1.3rem;
}
main .landing p::after {
  content: ".";
  color: #e0ff1b;
}
main .projects-section .projects__project:last-of-type hr {
  display: none;
}
main .projects-section .projects__project .first {
  background-image: url(../assets/gptquizbuilder.jpeg);
}
main .projects-section .projects__project .second {
  background-image: url(../assets/tamagotchi.jpeg);
}
main .projects-section .projects__project .third {
  background-image: url(../assets/fischkapp.jpeg);
}
main .projects-section .projects__project .fourth {
  background-image: url(../assets/memorygame.jpeg);
}
main .projects-section .projects__project--title {
  font-size: 2.5rem;
  margin-top: 4rem;
  text-align: center;
  z-index: 1;
  font-weight: 300;
  letter-spacing: 1px;
}
main .projects-section .projects__project--title span {
  color: #e0ff1b;
}
main .projects-section .projects__project--description {
  padding: 1rem;
  text-align: left;
}
main .projects-section .projects__project--description::after {
  content: ".";
  color: #e0ff1b;
}
main .projects-section .projects__project--links {
  display: flex;
  gap: 2rem;
  margin: 0 0 2rem 0;
  justify-content: flex-end;
  margin-right: 1.5rem;
}
main .projects-section .projects__project--techstack {
  margin: 2rem 0px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .projects-section .projects__project--techstack p {
  color: #e0ff1b;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
main .projects-section .projects__project--techstack ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
main .projects-section .projects__project--techstack ul li img {
  width: 40px;
  border-radius: 8px;
  height: 40px;
}
main .projects-section .project__present {
  margin: 2rem 0;
  display: flex;
}
main .projects-section .project__present .right {
  display: flex;
  flex-direction: column;
  width: 50%;
}
main .projects-section .project__present .first {
  background-image: url(../assets/gptquizbuilder.jpeg);
}
main .projects-section .project__present .second {
  background-image: url(../assets/tamagotchi.jpeg);
}
main .projects-section .project__present .third {
  background-image: url(../assets/fischkapp.jpeg);
}
main .projects-section .project__present .fourth {
  background-image: url(../assets/memorygame.jpeg);
}
main .projects-section hr {
  width: 100%;
  background-color: #fff;
  height: 2px;
  color: #fff;
}
main .projects-section .desktop {
  display: none;
  width: 100%;
  margin: 4rem 0;
}
main .projects-section .desktop .phone {
  background-size: contain;
}
main .projects-section .desktop .phone .projects__project--title {
  margin-bottom: 4rem;
}
main .projects-section .desktop .right {
  width: 50%;
}
main .projects-section .desktop .right .projects__project--title {
  margin-bottom: 3rem;
}
main .projects-section .desktop .right .projects__project--links {
  margin-top: 10rem;
}
main .about p {
  margin-top: 4rem;
}

@media (min-width: 576px) {
  main .projects-section .projects__project--title {
    font-size: 2.8rem;
  }
}
@media (min-width: 768px) {
  header .nav-desktop {
    display: block;
  }
  header .nav-mobile {
    display: none;
  }
  main .heading {
    font-size: 3.6rem;
  }
  main p {
    font-size: 1.8rem;
  }
  main .landing h1 {
    font-size: 1.8rem;
  }
  main .landing h2,
  main .landing h3 {
    font-size: 4rem;
  }
  main .landing p {
    font-size: 1.8rem;
  }
  main .landing__links a .resumeBtn {
    font-size: 2.5rem;
  }
  main .projects-section .desktop {
    display: flex;
  }
  main .projects-section .mobile {
    display: none;
  }
  main .projects-section .projects__project--title {
    font-size: 3rem;
  }
}
@media (min-width: 996px) {
  nav li {
    font-size: 1.8rem;
  }
  main p {
    font-size: 2.2rem;
  }
  .heading {
    font-size: 4rem;
    margin-bottom: 10rem;
  }
  .about p {
    max-width: 1000px;
    margin: 0 auto;
  }
  main .landing {
    display: flex;
  }
  main .landing__text {
    max-width: 1200px;
    font-weight: 300;
  }
  main .landing__text p {
    width: 900px;
  }
  main .landing__links a .resumeBtn {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  main .landing {
    display: flex;
  }
  main .landing h1 {
    font-size: 2rem;
  }
  main .landing h2,
  main .landing h3 {
    font-size: 5rem;
  }
  main .landing p {
    font-size: 2rem;
  }
  main .landing__text {
    max-width: 1200px;
    font-weight: 300;
  }
  main .landing__links a .resumeBtn {
    font-size: 3rem;
  }
  main .projects-section .projects__project--title {
    font-size: 5rem;
  }
}/*# sourceMappingURL=style.css.map */