.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

.heading {
  position: relative;
  font-size: 2rem;
  padding: 3rem 0;
}
.heading::after {
  content: "";
  width: 30%;
  height: 1px;
  background-color: #e0ff1b;
  position: absolute;
  margin: 0 1rem;
  top: 50%;
}

.section {
  padding: 4rem 0;
}

.icon i {
  font-size: 4rem;
  color: #fff;
  transition: transform 0.3s;
  position: relative;
}
.icon i:hover {
  transform: scale(1.1);
}
.icon i::after {
  content: "";
  height: 0;
  transition: height 0.3s;
  width: 100%;
  position: absolute;
  bottom: -1rem;
  left: 0;
  background-color: #e0ff1b;
}
.icon i:hover::after {
  height: 3px;
}

p {
  font-size: 1.3rem;
}

nav .nav ul .navigation__item a {
  position: relative;
}
nav .nav ul .navigation__item a::after {
  position: absolute;
  content: "";
  width: 33%;
  height: 75%;
  border-bottom: 1px solid #e0ff1b;
  left: -1rem;
  bottom: -0.5rem;
  transition: all 0.3s;
}
nav .nav ul .navigation__item a:hover::after {
  width: 122%;
  border-bottom: 2px solid #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.nav-desktop {
  display: none;
  width: 100vw;
  background-color: #000;
  position: fixed;
  z-index: 1000;
  top: 0;
}
.nav-desktop ul {
  display: flex;
  justify-content: flex-end;
  gap: 6rem;
  align-items: center;
  height: 10rem;
  padding: 0 2rem;
}
.nav-desktop ul li {
  list-style: none;
}
.nav-desktop ul li a {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  transition: colors ease-in-out 0.3s;
}
.nav-desktop ul li a:hover {
  color: #e0ff1b;
}

header .nav-mobile {
  top: 0;
  overflow: hidden;
}
header .hamburger {
  position: fixed;
  padding: 1rem;
  display: inline-block;
  cursor: pointer;
  background: none;
  border: 0;
  margin: 0;
  right: 0;
  z-index: 100;
}
header .hamburger--active {
  transform: translatex(0px);
}
header .hamburger__box {
  width: 3.5rem;
  height: 2.5rem;
  display: inline-block;
  position: relative;
}
header .hamburger,
header .navigation {
  transition: transform 0.3s 0.1s ease-in-out;
}
header .hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: #e0ff1b;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;
}
header .hamburger__inner::before,
header .hamburger__inner::after {
  width: 100%;
  height: 3px;
  background-color: #e0ff1b;
  position: absolute;
  content: "";
  left: 0;
  transition: transform 0.2s 0.2s ease-in-out;
}
header .hamburger__inner::before {
  top: -10px;
}
header .hamburger__inner::after {
  top: 10px;
}
header .hamburger--active .hamburger__inner {
  background-color: transparent;
}
header .hamburger--active .hamburger__inner:before {
  transform: translateY(10px) rotate(45deg);
}
header .hamburger--active .hamburger__inner:after {
  transform: translateY(-10px) rotate(-45deg);
}
header .navigation {
  position: fixed;
  height: 100vh;
  width: 25rem;
  background-color: #2e2e2e;
  top: 0;
  left: 0;
  transform: translateX(-250px);
  z-index: 100;
}
header .navigation--active {
  transform: translateX(0px);
}
header .navigation__list {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 3rem;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
header .navigation__list .navigation__item {
  padding: 1rem;
}
header .navigation__list .navigation__item a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  transition: color 0.3s;
}
header .navigation__list .navigation__item a:hover {
  color: #e0ff1b;
}

main .landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}
main .landing__description {
  margin: 2rem 0;
}
main .landing__links {
  height: 5vh;
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-direction: column;
}
main .landing__links a .resumeBtn {
  position: relative;
  background-color: #000;
  font-size: 2rem;
  color: #fff;
  padding: 1rem 1.5rem;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}
main .landing__links a .resumeBtn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  left: 1rem;
  transition: all 0.3s;
  z-index: -2;
}
main .landing__links a .resumeBtn:hover::after {
  background-color: #fff;
  transform: translate(-1rem, -0.75rem);
}
main .landing__social {
  margin-left: 1rem;
  display: flex;
  gap: 1.5rem;
}
main .landing h1 {
  font-size: 1.5rem;
  color: #e0ff1b;
  font-weight: 300;
}
main .landing h2 {
  font-size: 2.5rem;
}
main .landing h2::after {
  content: ",";
  color: #e0ff1b;
}
main .landing h3 {
  font-size: 2.5rem;
}
main .landing h3::after {
  content: ".";
  color: #e0ff1b;
}
main .landing p {
  font-size: 1.3rem;
}
main .landing p::after {
  content: ".";
  color: #e0ff1b;
}
main #projects-section .projects__project:last-of-type hr {
  display: none;
}
main #projects-section .projects__project {
  display: flex;
  flex-direction: column;
}
main #projects-section .projects__project--img {
  width: 100%;
  padding: 2rem 0;
  background-image: url(../assets//SCR-20240419-rynk.png);
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
main #projects-section .projects__project .second {
  background-image: url(../assets/SCR-20240420-qzus.png);
}
main #projects-section .projects__project .third {
  background-image: url(../assets/SCR-20240420-rbnn.png);
}
main #projects-section .projects__project .fourth {
  background-image: url(../assets/SCR-20240420-rcwz.jpeg);
}
main #projects-section .projects__project--title {
  color: #e0ff1b;
  font-size: 2.5rem;
  margin-top: 2rem;
  text-align: center;
  z-index: 1;
}
main #projects-section .projects__project--description {
  padding: 1rem;
  text-align: left;
}
main #projects-section .projects__project--description::after {
  content: ".";
  color: #e0ff1b;
}
main #projects-section .projects__project--links {
  display: flex;
  gap: 2rem;
  padding: 2rem 0;
  justify-content: flex-end;
  margin-right: 1.5rem;
}
main #projects-section .projects__project--techstack {
  margin: 2rem 0px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main #projects-section .projects__project--techstack p {
  color: #e0ff1b;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
main #projects-section .projects__project--techstack ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  justify-content: space-around;
}
main #projects-section .projects__project--techstack ul li img {
  width: 30px;
  border-radius: 8px;
  height: 30px;
}
main #projects-section hr {
  width: 100%;
  background-color: #fff;
  height: 2px;
  color: #fff;
}

@media (min-width: 768px) {
  header .nav-desktop {
    display: block;
  }
  header .nav-mobile {
    display: none;
  }
}
@media (min-width: 996px) {
  main .landing {
    display: flex;
  }
  main .landing h1 {
    font-size: 2rem;
  }
  main .landing h2,
  main .landing h3 {
    font-size: 5rem;
  }
  main .landing p {
    font-size: 2rem;
  }
  main .landing__text {
    max-width: 1000px;
    font-weight: 300;
  }
  main .landing__links a .resumeBtn {
    font-size: 3rem;
  }
}/*# sourceMappingURL=style.css.map */