@media (min-width: 576px) {
	main {
		.projects-section {
			.projects__project {
				&--title {
					font-size: 2.8rem;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	header {
		.nav-desktop {
			display: block;
		}
		.nav-mobile {
			display: none;
		}
	}

	main {
		.heading {
			font-size: 3.6rem;
		}
		p {
			font-size: 1.8rem;
		}
		.landing {
			h1 {
				font-size: 1.8rem;
			}
			h2,
			h3 {
				font-size: 4rem;
			}
			p {
				font-size: 1.8rem;
			}
			&__links {
				a {
					.resumeBtn {
						font-size: 2.5rem;
					}
				}
			}
		}

		// PROJECT SECTION

		.projects-section {
			.desktop {
				display: flex;
			}
			.mobile {
				display: none;
			}
			.projects__project {
				&--title {
					font-size: 3rem;
				}
			}
		}
	}
}

@media (min-width: 996px) {

    main{
        p{
            font-size: 2.2rem;
        }
    }

	.heading {
		font-size: 4rem;
		margin-bottom: 10rem;
	}

	.about {
		p {
			max-width: 1000px;
			margin: 0 auto;
		}
	}

	main {
		.landing {
			display: flex;

			&__text {
				max-width: 1200px;
				font-weight: 300;

				p {
					width: 900px;
				}
			}

			&__links {
				a {
					.resumeBtn {
						font-size: 3rem;
					}
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	main {
		.landing {
			display: flex;

			h1 {
				font-size: 2rem;
			}
			h2,
			h3 {
				font-size: 5rem;
			}
			p {
				font-size: 2rem;
			}

			&__text {
				max-width: 1200px;
				font-weight: 300;
			}

			&__links {
				a {
					.resumeBtn {
						font-size: 3rem;
					}
				}
			}
		}

		.projects-section {
			.projects__project--title {
				font-size: 5rem;
			}
		}
	}
}
