@use './colors';

.wrapper {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 2rem;
}

.heading {
	position: relative;
	font-size: 2rem;
	padding: 3rem 0;
	&::after {
		content: '';
		width: 30%;
		height: 1px;
		background-color: colors.$lime;
		position: absolute;
		margin: 0 2rem;
		top: 50%;
	}
}

.section {
	padding: 4rem 0;
}

.blur{
	transition: all .6s;
}

.blur--active{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	backdrop-filter: blur(3px);
}

.icon {
	i {
		font-size: 4rem;
		color: colors.$white;
		transition: transform 0.3s;
		position: relative;
		&:hover {
			transform: scale(1.1);
		}

		&::after {
			content: '';
			height: 0;
			transition: height 0.3s;
			width: 100%;
			position: absolute;
			bottom: -1rem;
			left: 0;
			background-color: colors.$lime;
		}

		&:hover::after {
			height: 3px;
		}
	}
}

p {
	font-size: 1.3rem;
}

nav {
	.nav {
		ul {
			.navigation__item {
				a {
					position: relative;
					&::after {
						position: absolute;
						content: '';
						width: 20px;
						height: 75%;
						border-bottom: 1px solid colors.$lime;
						left: 0;
						bottom: -0.5rem;
						transition: all 0.3s;
					}

					&:hover::after {
						width: 100%;
						border-bottom: 2px solid colors.$white;
					}
				}
			}
		}
	}
}

.phone {
	position: relative;
	width: 340px;
	margin: 2rem auto;
	height: 555px;
	border: 5px solid rgb(29, 164, 122);
	border-radius: 2rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;

	&::before {
		content: '';
		width: 317.5px;
		height: 531px;
		position: absolute;
		border: 8px solid colors.$black;
		border-radius: 2rem;
		top: -1px;
		left: -2px;
		z-index: 0;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0px;
		right: 50%;
		transform: translateX(50%);
		width: 25%;
		height: 15px;
		background-color: colors.$black;
		z-index: -1;
		border-radius: 20px;
	}
}


