@use 'colors';
@import './components';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
	scroll-padding: 3.5rem;
}

body {
	background-color: colors.$black;
	font-family: 'Poppins', sans-serif;
	color: colors.$white;
}

//NAV

header {
	.nav-desktop {
		display: none;
		width: 100vw;
		background-color: colors.$black;
		position: fixed;
		z-index: 1000;
		top: 0px;
		transform: translateY(-1000px);
		transition: all 0.3s;

		ul {
			display: flex;
			justify-content: flex-end;
			gap: 6rem;
			align-items: center;
			height: 10rem;
			padding: 0 2rem;
			li {
				list-style: none;
				a {
					font-size: 2rem;
					color: colors.$white;
					text-decoration: none;
					transition: colors ease-in-out 0.3s;
					&:hover {
						color: colors.$lime;
					}
				}
			}
		}
	}
	.nav-mobile {
		top: 0;
		overflow: hidden;
	}

	.hamburger {
		position: fixed;
		padding: 1rem;
		display: inline-block;
		cursor: pointer;
		background: none;

		border: 0;
		margin: 0;
		right: 1rem;
		top: 1rem;
		z-index: 100;

		&--active {
			transform: translatex(0px);
		}

		&__box {
			width: 3.5rem;
			height: 2.5rem;
			display: inline-block;
			position: relative;
		}
	}

	.hamburger,
	.navigation {
		transition: transform 0.3s 0.1s ease-in-out;
	}

	@mixin hamburger-line {
		width: 100%;
		height: 3px;
		background-color: colors.$lime;
		position: absolute;
	}

	.hamburger__inner {
		@include hamburger-line;
		outline: 1px solid black;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		transition: background-color 0.1s 0.2s ease-in-out;
	}

	.hamburger__inner::before,
	.hamburger__inner::after {
		@include hamburger-line;
		outline: 1px solid black;
		content: '';
		left: 0;
		transition: transform 0.2s 0.2s ease-in-out;
	}

	.hamburger__inner::before {
		top: -10px;
	}

	.hamburger__inner::after {
		top: 10px;
	}

	.hamburger--active .hamburger__inner {
		background-color: transparent;
		outline: 1px transparent;
	}

	.hamburger--active .hamburger__inner:before {
		transform: translateY(10px) rotate(45deg);
	}

	.hamburger--active .hamburger__inner:after {
		transform: translateY(-10px) rotate(-45deg);
	}

	.navigation {
		position: fixed;
		height: 100vh;
		width: 25rem;
		background-color: #2e2e2e;
		top: 0;
		left: 0;
		transform: translateX(-250px);
		z-index: 100;
	}

	.navigation--active {
		transform: translateX(0px);
	}

	.navigation__list {
		width: 100%;
		height: 100%;
		display: flex;
		gap: 3rem;
		text-align: left;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		list-style: none;

		.navigation__item {
			padding: 1rem;

			a {
				text-decoration: none;
				color: colors.$white;
				font-size: 2.5rem;
				transition: color 0.3s;
				&:hover {
					color: colors.$lime;
				}
			}
		}
	}
}
main {
	// LANDING
	// LANDING
	// LANDING
	// LANDING
	// LANDING

	.landing {
		height: 100vh;
		display: flex;

		justify-content: center;
		flex-direction: column;
		gap: 4rem;

		&__ctabtn {
			color: colors.$lime;
			text-decoration: none;
			z-index: 0;
			position: absolute;
			bottom: 5%;
			align-self: center;
			padding: 1rem;
			font-size: 3rem;
			cursor: pointer;
		}

		&__description {
			margin: 2rem 0;
		}

		&__links {
			height: 5vh;
			display: flex;
			gap: 3rem;

			justify-content: center;
			flex-direction: column;

			a {
				.resumeBtn {
					position: relative;
					background-color: colors.$black;
					font-size: 2rem;
					color: colors.$white;
					padding: 1rem 1.5rem;
					border: 2px solid colors.$white;
					border-radius: 0.5rem;
					cursor: pointer;

					&::after {
						position: absolute;
						content: '';
						width: 100%;
						height: 100%;
						border: 2px solid colors.$white;
						border-radius: 0.5rem;
						left: 1rem;
						transition: all 0.3s;
						z-index: -2;
					}

					&:hover::after {
						background-color: colors.$white;
						transform: translate(-1rem, -0.75rem);
					}
				}
			}
		}

		&__social {
			margin-left: 1rem;
			display: flex;
			gap: 1.5rem;
		}
		h1 {
			font-size: 1.5rem;
			color: colors.$lime;
			font-weight: 300;
		}
		h2 {
			font-size: 2.5rem;
			&::after {
				content: ',';
				color: colors.$lime;
			}
		}

		h3 {
			font-size: 2.5rem;
			&::after {
				content: '.';
				color: colors.$lime;
			}
		}

		p {
			font-size: 1.3rem;
			&::after {
				content: '.';
				color: colors.$lime;
			}
		}
	}

	//ABOUT//
	//ABOUT//
	//ABOUT//
	//ABOUT//
	//ABOUT//

	.about {
		display: flex;
		flex-direction: column;
		text-align: left;
		padding: 6px;
		p {
			margin-top: 4rem;
		}

		p::after{
			content: '.';
			color: colors.$lime;
		}
		ul {

			display: flex;
			align-self: flex-start;
			place-self: start;
			flex-direction: column;
			gap: 0.5rem;
			margin-top: 3rem;
			font-size: 2rem;
			li {
				font-size: 1.75rem;
				margin-left: 3rem;

				a {
					color: colors.$lime;
				}

				&:first-of-type {
					margin-top: 3rem;
				}
			}
		}
	}
}

// PROJECTS //
// PROJECTS //
// PROJECTS //
// PROJECTS //
// PROJECTS //

.projects-section {
	.projects__project {
		position: relative;
		span {
			a {
				color: colors.$lime;
			}
		}
		p {
			font-size: 1.75rem;
		}

		.left {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.gpt-quiz-builder {
			.first-paragraph {
				margin-bottom: 2rem;
			}

			ul {
				margin: 15px 0;
				padding: 5px 0;
				font-size: 1.75rem;
				display: flex;
				flex-direction: column;
				gap: 0.75rem;
			}

			li {
				margin-top: 2px;
				margin-left: 3.5rem;
				font-size: 1.5rem;
				span {
					color: colors.$lime;
				}
			}
		}

		&--title {
			font-size: 3rem;
			margin-top: 4rem;
			text-align: center;
			z-index: 1;
			font-weight: 300;
			letter-spacing: 1px;
			span {
				color: colors.$lime;
			}
		}

		&--description {
			padding: 1rem;
			text-align: left;

			&::after {
				content: '';
				color: colors.$lime;
			}
		}

		&--links {
			display: flex;
			gap: 2rem;
			margin: 0 0 2rem 0;
			justify-content: flex-end;
			margin-right: 1.5rem;
		}

		&--techstack {
			margin: 2rem 0px;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			p {
				color: colors.$lime;
				font-size: 1.5rem;
				margin-bottom: 1.5rem;
			}

			ul {
				display: flex;
				gap: 1rem;
				list-style: none;

				li {
					img {
						width: 40px;
						border-radius: 8px;
						height: 40px;
					}
				}
			}
		}
	}

	.project__present {
		margin: 2rem 0;
		display: flex;
		.right {
			display: flex;
			flex-direction: column;
			width: 50%;
		}
	}

	hr {
		width: 100%;
		background-color: #fff;
		height: 2px;
		color: #fff;
	}

	.desktop {
		display: none;
		width: 100%;
		margin: 4rem 0;

		.phone {
			background-size: contain;

			.projects__project--title {
				margin-bottom: 4rem;
			}
		}

		.right {
			width: 50%;
			.projects__project--title {
				margin-bottom: 3rem;
			}
			.projects__project--links {
				margin-top: 5rem;
				margin-bottom: 1rem;
			}
		}
	}
}

.lime{
	color: colors.$lime
}

// ABOUT SECTION
// ABOUT SECTION
// ABOUT SECTION

@import './media';
