@use '../colors';

header {
	position: relative;
	display: flex;

	height: 80vh;
	.left {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 50%;

		.text {
			h1 {
				font-size: 4rem;
				font-weight: normal;
			}

			p {
				font-size: 2rem;
				max-width: 450px;
				text-align: end;
			}
			span {
				color: colors.$purple;
			}
		}

		.buttons {
			margin: 2rem;
			display: flex;
			gap: 1rem;
			button {
				padding: 1.5rem 2.5rem;
				border-radius: 8px;
				border: none;
				background-color: transparent;
				font-size: 2rem;
				transition: all 0.3s;
				cursor: pointer;
				a {
					text-decoration: none;
				}
			}
			.numOne {
				border: 2px solid colors.$purple;
				a {
					color: colors.$purple;
				}

				&:hover {
					background-color: colors.$light;
					box-shadow: 0px 0px 10px colors.$purple;
				}
			}

			.numTwo {
				background-color: colors.$purple;
				border: 2px solid colors.$purple;
				a {
					color: colors.$white;
				}

				&:hover {
					background-color: colors.$lighter-purple;
					box-shadow: 0px 0px 10px colors.$purple;
				}
			}
		}
	}
	.right {
		background-image: url(../../assets/one.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 100% 60%;

		width: 770px;
	}

	.arrow-down {
		position: absolute;
		bottom: 0;
		right: 45%;
		background: none;
		border: none;

		i {
			font-size: 4rem;
			background-color: transparent;
			color: colors.$lighter-purple;
			animation: bounce 1s infinite;
			cursor: pointer;
			padding: 2rem;
            
		}
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}
